services:
  tor:
    image: dperson/torproxy
    container_name: ex4-tor
    restart: unless-stopped
    # # ExitNodes {fr} tells Tor to prefer servers in France # # StrictNodes 1 forces Tor to only use France
    # # (If you set this to 0 , Tor will try France first but use another country if the French servers are too slow )
    # environment :
    # - LOCATION = FR # Equivalent to ExitNodes {fr} # - STRICT = 1 # Equivalent to StrictNodes 1 # # This is the magic line for IP rotation
    # - TOR_MaxCircuitDirtiness = 600 # Rotate IP every 10 minutes (600 seconds)
    ports : 
      - "${TOR_SOCKS5_PORT}:${TOR_SOCKS5_PORT}" # SOCKS5 
      - "${TOR_CONTROL_PORT}:${TOR_CONTROL_PORT}" # Control port

  backend:
    build:
      context: .
      dockerfile: docker/backend.dockerfile
    container_name: ex4-backend
    env_file:
      - docker/backend.env
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    depends_on:
      - tor

  frontend:
    build:
      context: .
      dockerfile: docker/frontend.dockerfile
    container_name: ex4-frontend
    env_file:
      - docker/frontend.env
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    depends_on:
      - backend